@use '../../../../styles/variables' as variables;

.plannerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: variables.$spacing;

  .plannerHeaderLabel {
    $height: 40px;
    margin: 0;
    line-height: $height;
    font-weight: bold;
  }

  button {
    background-color: variables.$bluegray-color;
  }
}
