@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.dropdownWrapper {
  position: relative;
}

ul {
  position: absolute;
  content: '';
  top: 10px;
  right: 0;
  width: 100%;
  height: auto;
  list-style: none;

  li {
    @include mixins.defaultField;
    text-align: center;
  }
}
