@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.dropdownWrapper {
  position: relative;
}

ul {
  position: absolute;
  content: '';
  top: variables.$spacing;
  right: 0;
  width: 100%;
  scrollbar-color: variables.$lightdarkgray-color variables.$darkbluegray-color;
  height: auto;
  list-style: none;
  z-index: 100;
  max-height: 140px;
  overflow: auto;

  li {
    @include mixins.defaultField;
    padding: variables.$gap variables.$gap variables.$gap
      variables.$inner-spacing;

    background: variables.$darkbluegray-color;

    &:active,
    &:focus,
    &:focus-visible {
      background: variables.$blue-lightgray-color;
      color: variables.$darkbluegray-color;
      font-weight: bold;
    }
  }
}
