@use '../../../../styles/variables' as variables;
@use '../../../../styles/mixins' as mixins;

.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 variables.$inner-spacing;
  color: variables.$white-color;

  button {
    padding: variables.$smaller-gap;
    min-height: variables.$spacing;
    vertical-align: middle;
    font-size: variables.$h3-size;
    svg {
      vertical-align: middle;
      font-size: variables.$h2-size;
    }
  }

  @include mixins.media-for-compact-calendar {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.monthLabel {
  $height: 40px;
  font-size: variables.$h1-size;
  line-height: $height;
  font-weight: bold;
  text-align: center;
  margin: 0;

  @include mixins.media-for-compact-calendar {
    margin: variables.$small-gap;
  }
}
