@use "../../../features/Calendar/_calendar.module.scss";
@use "../../../styles/_variables.scss" as variables;
@use "../../../styles/_mixins.scss" as mixins;

tbody {
  padding: variables.$inner-spacing;
  box-sizing: border-box;
  tr,
  td {
    box-sizing: border-box;
  }

  tr {
    width: 100%;
    white-space: nowrap;
    height: 0.0014285714%;
  }
  td {
    @extend .calendarCell;
    color: variables.$main-color;
    $size: 0.0014285714%;
    height: auto;
    vertical-align: top;
  }

  .currentMonthDay {
    background: variables.$bg-color;
    border: variables.$smaller-gap solid variables.$main-color;
  }
  .otherMonthDay {
    background: lightgray;
    border: variables.$smaller-gap solid variables.$main-color;
  }
}
