@use '../../../features/Calendar/_calendar.module.scss';
@use '../../../styles/_variables.scss' as variables;
@use '../../../styles/_mixins.scss' as mixins;

tbody {
  padding: variables.$inner-spacing;
  tr,
  td {
    box-sizing: border-box;
    padding: 0;
  }

  .currentMonthDay {
    background: variables.$white-color;
    border: variables.$smaller-gap solid variables.$black-color;
  }
  .otherMonthDay {
    background: variables.$lightgray-color;
    border: variables.$smaller-gap solid variables.$black-color;
  }
}
