@use "../../../styles/_variables" as variables;
@use "../../../styles/_mixins" as mixins;

.updateCalendar {
  background-color: transparent;
  color: variables.$black-color;
  font-size: variables.$h3-size;
  margin: variables.$smaller-gap;
  padding: 3px;

  &:hover {
    border-color: transparent;
    border-width: 1px;
    outline: none;
    background-color: variables.$black-color;
    color: variables.$white-color;
  }

  @include mixins.media-for-compact-calendar {
    font-size: variables.$h3-mobile-size;
  }
}

.updateCalendarToToday {
  @extend .updateCalendar;
}
