@use '../../../../styles/variables' as variables;

.hourOfTheDay {
  margin-right: variables.$smaller-gap;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  font-size: 14px;

  time {
    text-transform: uppercase;
    width: max-content;
    line-height: 2.1;
    min-height: 50px;
    height: 50px;
    width: 50px;

    &:last-of-type {
      height: unset;
      min-height: unset;
    }
  }
}
