@use "../../styles/_variables.scss" as variables;

.nav {
  grid-area: nav;
  background: variables.$black-color;
  color: variables.$white-color;
  display: flex;
  align-items: center;
  padding: variables.$outer-spacing;
}
