@use '../../../../styles/variables' as variables;

.hourBlock {
  height: 50px;
  border-top: 1px solid variables.$black-color;
  &:last-child {
    border-bottom: 1px solid variables.$black-color;
  }
}
