@use "../../styles/_variables.scss" as variables;

.footer {
  grid-area: footer;
  background: variables.$lightgray-color;
  color: black;
  display: flex;
  align-items: center;
  padding: variables.$outer-spacing;

  a {
    font-weight: bold;
    color: variables.$black-color;
    margin-left: variables.$smaller-gap;
    text-decoration: underline;
    &:hover {
      font-weight: 900;
    }
  }
}
