@use "../../../../styles/variables" as variables;
@use "../../../../styles/mixins" as mixins;

.isToday {
  background: variables.$blue-lightgray-color;
  font-weight: bold;
  $spacingSize: 4px;
  $positioninSize: 6px;
  padding: $spacingSize;
  font-weight: bold;
  position: absolute;
  content: "";
  top: -$positioninSize;
  right: -$positioninSize;

  @include mixins.media-for-compact-calendar {
    padding: variables.$small-gap;
    border-radius: 100%;
    position: relative;
    top: unset;
    right: unset;
  }
}
