@use "../../../styles/variables" as variables;
@use "../../../styles/mixins" as mixins;

.updateCalendarContainer {
  border-radius: 10px;
  background-color: variables.$blue-lightergray-color;

  padding: 0;
}

.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    padding: variables.$small-gap;
  }

  @include mixins.media-for-compact-calendar {
    flex-direction: column;
  }
}

.monthLabel {
  $height: 40px;
  font-size: variables.$h1-size;
  line-height: $height;
  font-weight: bold;
  text-align: center;
}
