// Colors
$white-color: white;
$black-color: black;
$lightgray-color: #bbbac9;
$blue-lightergray-color: #e9e7fa;
$blue-lightgray-color: #b6c4ff;
$blue-yonder-color: #5072a7;

// Typography
$h1-size: 25px;
$h1-padding: 5px;
$h2-size: 18px;
$h3-size: 16px;
$h3-mobile-size: 14px;

// Spacing
$outer-spacing: 25px;
$inner-spacing: 15px;
$small-gap: 5px;
$smaller-gap: 2px;

// Calendar
$numberOfWeekDays: 7;
$calendar-cel-lateral-padding: 6px;

// Planner
$hoursOfDaySliceSpacing: 40px;
