// Colors
$white-color: white;
$black-color: black;
$lightgray-color: lightgray;
$blue-yonder-color: #5072a7;

// Typography
$h1-size: 25px;
$h1-padding: 5px;
$h2-size: 18px;

// Spacing
$outer-spacing: 25px;
$inner-spacing: 15px;
$small-gap: 5px;
$smaller-gap: 2px;

// Calendar
$numberOfWeekDays: 7;
$calendar-cel-lateral-padding: 6px;
