$white-color: white;
$black-color: black;
$blue-yonder: #5072a7;

$outer-spacing: 25px;
$inner-spacing: 15px;
$small-gap: 5px;
$smaller-gap: 2px;

// Calendar
$numberOfWeekDays: 7;
$gaps-between-calendar-week-lables: $small-gap * $numberOfWeekDays * 2;
$calendar-cel-lateral-padding: 8px;
$calendar-cell-width: calc(
  (
      100% - $gaps-between-calendar-week-lables - ($inner-spacing * 2) -
        ($calendar-cel-lateral-padding * $numberOfWeekDays * 2)
    ) / $numberOfWeekDays
);
