@use '../../../styles/variables' as variables;

.clickableHourOfTheDay {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 800;
  height: variables.$planner-hours-height;
  position: relative;
  margin-top: 15px;
  background: #e56bcc87;

  .plannerEvent {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    background: variables.$blue-yonder-color;
    z-index: 801;
  }
}
