@use '../../../styles/variables' as variables;

.clickableHourOfTheDay {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  button {
    background-color: transparent;
    border-top: 0.5px solid variables.$black-color;
    border-bottom: 0.5px solid variables.$black-color;
    border-radius: 0;
    color: variables.$black-color;
    min-height: calc(100% / 24);
    height: calc(100% / 24);
    &:first-of-type {
      border-top: 1px solid variables.$black-color;
    }
    &:last-of-type {
      border-bottom: 0;
    }
  }
  .plannerEvent {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    background: variables.$blue-yonder-color;
    z-index: 801;
  }
}
