@use '../../styles/_variables.scss' as variables;
@use '../../styles/_mixins.scss' as mixins;

.home {
  display: grid;
  grid-template-columns: minmax(320px, 45%) 1fr;
  grid-template-rows: 50px 1fr 20px;
  grid-row-gap: variables.$outer-spacing;
  grid-column-gap: 30px;
  grid-template-areas:
    'nav nav'
    'calendar planner'
    'footer footer';
  height: 100vh;

  @include mixins.media-only-mobile {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 4fr 4fr 2fr;
    grid-row-gap: variables.$outer-spacing;
    grid-column-gap: variables.$inner-spacing;
    grid-template-areas:
      'nav nav'
      'calendar calendar'
      'planner planner'
      'footer footer';
    height: 100vh;
  }
}
