@use "../../../styles/_variables.scss" as variables;

.updateCalendar {
  background-color: transparent;
  color: variables.$black-color;
  font-size: variables.$h2-size;
  margin: variables.$smaller-gap;

  &:hover {
    border-color: transparent;
    border-width: 1px;
    outline: none;
    background-color: variables.$black-color;
    color: variables.$white-color;
  }
}

.updateCalendarToToday {
  @extend .updateCalendar;
}
