@use '../../../styles/variables' as variables;

.hourOfTheDay {
  margin-right: variables.$inner-spacing;
  min-height: max-content;
  display: flex;
  flex-direction: column;

  time {
    width: max-content;
    line-height: 1.7;
    min-height: 50px;
    height: 50px;
  }
}
