@use '../../../styles/variables' as variables;

.hourOfTheDay {
  display: flex;
  flex-direction: column;
  margin-top: -11px;
  width: max-content;
  span {
    width: 100%;
    min-width: max-content;
    padding-bottom: calc(
      variables.$planner-hours-height / variables.$number-of-hours-in-a-day
    );
    line-height: initial;
  }
}
