@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as variables;

.modal {
  @include mixins.modal;
  max-width: max-content;
  min-width: 285px;
  height: fit-content;
  top: 0;
  right: 0;
  border-radius: 11px;
  background-color: variables.$bluegray-color;
  color: variables.$white-color;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  padding: variables.$spacing;
  overflow: hidden;
  cursor: initial;

  @include mixins.media-max-tablet {
    min-width: 200px;
  }

  .actions {
    max-height: max-content;
    max-width: max-content;
    float: right;
    margin-bottom: variables.$gap;

    button {
      background-color: transparent;
      padding: variables.$small-gap 7px variables.$small-gap 7px;
      &:hover,
      &:focus {
        background: variables.$lightdarkgray-color;
        outline: unset;
        border-radius: 50%;
      }
      svg {
        font-size: 18px;
        color: variables.$black-color;
      }
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: variables.$small-gap;

    p {
      margin: 0;
      @include mixins.ellipsisText;
    }

    input {
      background-color: transparent;
      outline: none;
      width: 100%;

      &.line {
        border: 0;
        border-bottom: 2px solid variables.$blue-lightgray-color;
      }

      &.box {
        border: 0;
        background-color: variables.$darkbluegray-color;
        color: variables.$blue-lightgray-color;
      }

      &:focus {
        border-bottom: 3px solid variables.$white-color;

        &::placeholder {
          color: variables.$white-color;
        }
      }

      &::placeholder {
        color: variables.$blue-lightgray-color;
        font-size: variables.$default-font-size;
        opacity: 1; /* Firefox */
      }
    }
  }
}
