@use "../../../styles/_variables.scss" as variables;
@use "../../../styles/_mixins.scss" as mixins;

.calendar {
  grid-area: calendar;
  border: variables.$small-gap solid black;
  margin-left: variables.$margin;
  position: relative;
}

.monthLabel {
  $height: 40px;
  background-color: variables.$main-color;
  height: $height;
  line-height: $height;
  padding-left: variables.$inner-spacing;
}

.weekDaysContainer {
  display: flex;
  padding: variables.$inner-spacing;
  position: relative;
  width: 100%;

  .weekDays {
    background: black;
    padding: 5px variables.$calendar-cel-lateral-padding;
    margin: variables.$small-gap;
    width: variables.$calendar-cell-width;
    font-weight: bold;
    text-transform: uppercase;
  }
}
