@use "../../styles/_variables.scss" as variables;
@use "../../styles/_mixins.scss" as mixins;

.calendar {
  grid-area: calendar;
  margin-left: variables.$outer-spacing;
  position: relative;
  color: variables.$black-color;

  .calendarHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
  }

  @include mixins.media-only-mobile {
    margin: 0 variables.$inner-spacing;
  }
  @include mixins.media-small-mobile {
    margin: 0;
  }
}

.monthLabel {
  $height: 40px;
  font-size: variables.$h1-size;
  line-height: $height;
  font-weight: bold;
  text-align: center;
}

.calendarCell {
  $size: 0.0014285714%;
  padding: variables.$calendar-cel-lateral-padding;
}
