@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;

.dateBox {
  display: flex;
  gap: variables.$gap;
  width: 100%;

  input {
    text-align: center;
    &:nth-of-type(odd) {
      width: 100%;
      min-width: 150px;
      max-width: 180px;
    }
    &:nth-of-type(even) {
      max-width: 60px;
    }
  }

  table {
    position: fixed;
    margin-top: 30px;
  }
}

.container {
  width: 100%;
  gap: variables.$gap;
  @include mixins.flexColumn;
}

.multiDayEventBox {
  @include mixins.flexRow;
  margin-left: 48px;
  gap: variables.$gap;
  align-items: center;

  label {
    width: max-content;
    min-width: fit-content;
  }

  input {
    width: fit-content;
    max-width: fit-content;
  }
}
