@use "../../../features/Calendar/_calendar.module.scss";
@use "../../../styles/_variables.scss" as variables;

.weekDaysContainer {
  thead {
    box-sizing: border-box;

    tr,
    th {
      box-sizing: border-box;
    }

    tr {
      width: 100%;
    }
  }

  .weekDays {
    @extend .calendarCell;
    background: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: variables.$smaller-gap solid variables.$black-color;
    color: variables.$white-color;
  }
}
