@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.planner {
  grid-area: planner;
  background: variables.$blue-lightergray-color;
  margin-right: variables.$outer-spacing;
  padding: variables.$inner-spacing;
  color: variables.$black-color;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include mixins.media-only-mobile {
    overflow: scroll;
    height: 500px;
    margin: 0 variables.$inner-spacing;
  }
  @include mixins.media-only-small-mobile {
    margin: 0;
  }

  .plannerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .plannerHeaderLabel {
      $height: 40px;
      margin: 0;
      font-size: variables.$h1-size;
      line-height: $height;
      font-weight: bold;
      text-align: center;

      @include mixins.media-for-compact-calendar {
        margin-bottom: variables.$inner-spacing;
      }
    }
  }

  .plannerHours {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: variables.$planner-hours-height;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    @include mixins.media-for-compact-calendar {
      margin-bottom: variables.$inner-spacing;
    }
  }
}
