@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.planner {
  grid-area: planner;
  background: variables.$blue-lightergray-color;
  margin-right: variables.$outer-spacing;
  padding: variables.$inner-spacing;
  color: variables.$black-color;

  @include mixins.media-only-mobile {
    margin: 0 variables.$inner-spacing;
  }
  @include mixins.media-only-small-mobile {
    margin: 0;
  }

  // height: calc(90% - $spacing);

  overflow: hidden;
  display: flex;
  flex-direction: column;

  .plannerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .plannerHeaderLabel {
      $height: 40px;
      margin: 0;
      font-size: variables.$h1-size;
      line-height: $height;
      font-weight: bold;
      text-align: center;
    }
  }

  .hoursWrapper {
    width: 100%;
    height: 100%; /* Ensure the scrollable content doesn't exceed the row height */
    overflow-y: auto;
    .hoursOfTheDay {
      display: flex;
      flex-direction: column;
      width: 50%;
      min-height: min-content;

      span {
        width: 100%;
      }
    }
  }
}
