@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.planner {
  grid-area: planner;
  background-color: variables.$white-color;
  margin-right: variables.$outer-spacing;
  padding: variables.$inner-spacing;
  color: variables.$black-color;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include mixins.media-only-mobile {
    height: 500px;
    margin: 0 variables.$inner-spacing;
  }
  @include mixins.media-only-small-mobile {
    margin: 0;
  }

  .plannerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .plannerHeaderLabel {
      $height: 40px;
      margin: 0;
      line-height: $height;
      font-weight: bold;
      text-align: center;
      margin-bottom: variables.$inner-spacing;
    }
  }

  .plannerHours {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: variables.$planner-hours-height;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    scrollbar-color: black transparent;

    @include mixins.media-for-compact-calendar {
      margin-bottom: variables.$inner-spacing;
    }
  }
}
