@use '../../styles/variables' as variables;

.error {
  color: variables.$black-color;
  background-color: variables.$error-light-color;
  border-radius: variables.$small-gap;
  padding: variables.$small-gap;
  margin: variables.$small-gap 0;
  svg {
    margin-right: variables.$small-gap;
    vertical-align: top;
  }
}
