@use '../../styles/variables' as variables;

.error {
  padding: variables.$small-gap;
  color: variables.$black-color;
  background-color: variables.$error-light-color;
  border-radius: variables.$small-gap;
  min-width: max-content;
  display: flex;
  align-items: center;
  padding: 0 variables.$small-gap;
  padding: 3px 8px 3px 6px;
  p {
    margin: variables.$small-gap 0;
    margin-left: variables.$small-gap;
  }
}
