@use '../../../../../../styles/variables' as variables;

.dateBox {
  display: flex;
  gap: variables.$gap;
  width: 100%;

  input {
    text-align: center;
    &:nth-of-type(odd) {
      width: 100%;
      max-width: 130px;
    }
    &:nth-of-type(even) {
      max-width: 40px;
    }
  }

  table {
    position: fixed;
    margin-top: 30px;
  }
}

.datesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: variables.$gap;
}
