@use '../../../../styles/variables' as variables;

.clickableHourOfTheDay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: variables.$planner-hours-height;
  position: relative;
  margin-top: variables.$inner-spacing;
  cursor: pointer;
}
