@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;

.defaultField {
  display: flex;

  input {
    @include mixins.defaultField;

    &:focus {
      border-bottom: 3px solid variables.$white-color;

      &::placeholder {
        color: variables.$white-color;
      }
    }
  }
}
